:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#app {
  max-width: 100%;
  margin: 0 auto;
}
.header{
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 30px;
}
.lightMode{
  color: #1a1a1a !important;
  background-color:#fafafa !important;
}

button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #42b883;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  font-size: 1rem;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  outline-offset: 3px;
  margin-left: 10px;
}
main{
  display: flex;
    flex-direction: column;
    flex: 1;
    padding-block-end: 100px;
    padding-inline: 30px;
    border-block: 1px solid #424242;
    background-color: var(--brand-accent-color-1);
}
.highlight{
  color: #42b883;
  margin-inline-start: 5px;
  text-decoration: none;
  font-weight: 700;
}
footer{
  padding: 20px;
  display: flex;
  justify-content: center;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #42b883;
}

input:focus + .slider {
  box-shadow: 0 0 1px #42b883;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.link{
  display: inline-block;
  border: #42b883 1px solid;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  text-decoration: none;
}
.icon {
  display: inline-block;
    border-radius: 100%;
    text-decoration: none;
    font-size: 2rem;
    outline-offset: 5px;
    transition: all .3s ease-out;
    margin: 10px;
}
.list{
  list-style: none;
    display: flex;
    gap: 20px
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:-webkit-any-link {
  text-decoration: none;
  color: #42b883;
}